.app__layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.logo__image {
  width: 100%;
}

ul {
  padding: 0 !important;
}